<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416700492321-5a8e23ihlsfq39m2belo4fmg3tn95h36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416700492321-5a8e23ihlsfq39m2belo4fmg3tn95h36</string>
	<key>API_KEY</key>
	<string>AIzaSyARtdh1XyKdNNKft0rXUs-0un_B8qjkaQk</string>
	<key>GCM_SENDER_ID</key>
	<string>416700492321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bharat.Journal-Core-Data</string>
	<key>PROJECT_ID</key>
	<string>journalcoredata-20047</string>
	<key>STORAGE_BUCKET</key>
	<string>journalcoredata-20047.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416700492321:ios:1c141bc32dc368dfeb9160</string>
	<key>DATABASE_URL</key>
	<string>https://journalcoredata-20047.firebaseio.com</string>
</dict>
</plist>