<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534531565072-g0r4cfkab9gi1j91q5pnu2cbk8p739ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534531565072-g0r4cfkab9gi1j91q5pnu2cbk8p739ga</string>
	<key>API_KEY</key>
	<string>AIzaSyAPOaUxor7qlyN3qSr7MAzm2u0qGHXLqN0</string>
	<key>GCM_SENDER_ID</key>
	<string>534531565072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakeconnerly.journal</string>
	<key>PROJECT_ID</key>
	<string>journal-5ee58</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-5ee58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534531565072:ios:4fc0d13378a0112a</string>
	<key>DATABASE_URL</key>
	<string>https://journal-5ee58.firebaseio.com</string>
</dict>
</plist>