<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621338313904-cotevpipfvbfimflkccjufqavnob2sua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621338313904-cotevpipfvbfimflkccjufqavnob2sua</string>
	<key>API_KEY</key>
	<string>AIzaSyCC9cH_2ES3X9SquHtJwq2udkscsq6RJIA</string>
	<key>GCM_SENDER_ID</key>
	<string>621338313904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.journalApp</string>
	<key>PROJECT_ID</key>
	<string>journal-ef55cc</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-ef55cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621338313904:ios:a17c256b4bdc4086</string>
	<key>DATABASE_URL</key>
	<string>https://journal-ef55cc.firebaseio.com</string>
</dict>
</plist>