<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385811325692-lafo08f44ian4gks0o3c5bbngdpv424l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385811325692-lafo08f44ian4gks0o3c5bbngdpv424l</string>
	<key>API_KEY</key>
	<string>AIzaSyDLn120AyeFgAI_SCKL-Re0OMRRUTSrkgI</string>
	<key>GCM_SENDER_ID</key>
	<string>385811325692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Knopptimism.Journal</string>
	<key>PROJECT_ID</key>
	<string>journal-coredata-knopp</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-coredata-knopp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385811325692:ios:2eabc083ca29da2a7ded79</string>
	<key>DATABASE_URL</key>
	<string>https://journal-coredata-knopp.firebaseio.com</string>
</dict>
</plist>