<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878294275099-s4tmq36etoc5k1cn2eu9g0sgdlju9et9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878294275099-s4tmq36etoc5k1cn2eu9g0sgdlju9et9</string>
	<key>API_KEY</key>
	<string>AIzaSyBckxRx903CaTB54T3o8wW7lc9DuvyCIPc</string>
	<key>GCM_SENDER_ID</key>
	<string>878294275099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Breena-Greek.Journal</string>
	<key>PROJECT_ID</key>
	<string>journal-f0eec</string>
	<key>STORAGE_BUCKET</key>
	<string>journal-f0eec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878294275099:ios:3c2206f948567343c014be</string>
	<key>DATABASE_URL</key>
	<string>https://journal-f0eec.firebaseio.com</string>
</dict>
</plist>